@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');



body {
  height: 100%;
  width: 100%;
  font-family: space mono, sans-serif;
  font-weight: 400;
  background-color: #ebffff;
  color: #324B4B;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.vertical-center {
  position: relative;
  top: 30%;
  text-align: center;
}

.page-header {
  height: 30vh;
  background: url('../images/pexels-ekaterina-bolovtsova-6766279.jpg') center / cover no-repeat;
  color: #fff0f0;
}

#menu {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px double #85324b;
    text-align: center;
    background-color: floralwhite
  }
  
  nav > a {
  text-decoration: none;
  color: #A6A9CD;
  margin-left: 2%;
  padding: 0.5em;
  display: inline-block;
  }
  
  nav > a:hover {
    color: #ffe433;
  }
  
  #menu a:hover {
    color: #ffe433;
  }